<div id="add-card-modal" class="modal hidden">
  <div class="modal-content">
    <span class="close-button">&times;</span>
    <h2>Add New Service Card</h2>
    <div class="modal-body">
      <div class="modal-section">
        <h3>Add Image</h3>
        <input type="file" id="new-service-image">
      </div>
      <div class="modal-section">
        <h3>Order Title</h3>
        <input type="text" id="new-service-title" placeholder="Enter order title">
      </div>
      <div class="modal-section">
        <h3>Order Description</h3>
        <textarea id="new-service-description" rows="4" placeholder="Enter order description"></textarea>
      </div>
      <div class="modal-section">
        <h3>Price</h3>
        <input type="number" id="new-service-price" placeholder="Enter price">
      </div>
      <div class="modal-section">
        <h3>Select game</h3>
        <select id="new-service-game"></select>
      </div>
      <div class="modal-section">
        <h3>Select Categories</h3>
        <div id="category-select-container"></div>
      </div>
      <button id="add-new-order-service-button" class="save-button">Add Service</button>
    </div>
  </div>
</div>
