<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin Panel</title>
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" th:href="@{/css/admin-services.css}">
    <link rel="stylesheet" th:href="@{/css/sidebar.css}">
    <link rel="stylesheet" th:href="@{/css/modal.css}">
    <link rel="stylesheet" th:href="@{/css/settings-modal-window.css}">
    <link rel="stylesheet" th:href="@{/css/page-request.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

</head>
<body>
<header class="navbar">
    <div class="logo">
        <h1>Dead PackMan <span>ADMIN</span></h1>
    </div>
    <button class="logout-button">Logout</button>
</header>

<div class="container">
    <div id="sidebar-container"></div>
    <div th:include="side-bar.html"></div>
    <main class="main-content">
        <div class="filters">
            <button class="filter-button">
                <span>🔧</span>
            </button>
            <button id="add-order-btn" class="filter-button">
                <span>+</span>
            </button>
            <div class="search-bar">
                <input id="search-input" type="text" placeholder="Search...">
                <button id="search-button" class="search-button">🔍</button>
            </div>
        </div>

        <div class="filter-panel hidden">
            <h3>Filters</h3>
            <div id="game-filter" class="filter-group">
                <h4>Choose a Game</h4>
                <label><input type="radio" name="game" value="Destiny 2"> Destiny 2</label>
                <label><input type="radio" name="game" value="CoD BO6"> CoD BO6</label>
                <label><input type="radio" name="game" value="Valorant"> Valorant</label>
            </div>
        </div>

        <section class="services"></section>
        <div class="pagination"></div>

    </main>
</div>

<!-- Модальные окна -->
<div th:include="edit-order-modal.html"></div>
<div th:include="add-new-order-modal.html"></div>

<script th:src="@{/js/admin-service.js}"></script>
<script th:src="@{/js/pagination.js}"></script>
<script th:src="@{/js/modal.js}"></script>

</body>
</html>