<div id="modal" class="modal hidden">
  <div class="modal-content">
    <span class="close-button">&times;</span>
    <h2 id="modal-title">Edit Order Card</h2>
    <div class="modal-body">
      <div class="modal-image">
        <img th:src="@{/images/slider.PNG}" alt="Call of Duty">
        <button class="edit-image-button">Edit Image</button>
      </div>
      <div class="modal-section">
        <h3>Order Title</h3>
        <input type="text" placeholder="Enter order title" value="LAST WISH RAID">
      </div>
      <div class="modal-section">
        <h3>Order Description</h3>
        <textarea rows="4" placeholder="Enter order description">Description:  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae enim massa.</textarea>
      </div>
      <div class="modal-section">
        <h3>Price</h3>
        <input type="number" placeholder="Enter price" value="15">
      </div>
      <button id="save-button" class="save-button">Save Changes</button>
    </div>
  </div>
</div>