
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Boosting Services</title>
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/css/final-category.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
<main>
    <div class="game-header">
        <h1>Valorant Boosting Services</h1>
        <p>Повышайте свой ранг и улучшайте навыки с нашими профессиональными услугами.</p>
    </div>
    <div class="filters"></div>
    <div class="category-container" id="categoryContainer"></div>
    <div class="services-container"></div>
</main>

    <script th:src="@{/js/final-category.js}"></script>

</body>
</html>
