<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sign in</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/login-form.css}">
</head>
<body>

<div class="form-container">
    <h2>Sign in</h2>
    <form th:action="@{/login}" method="post">
        <div class="input-group">
            <input type="text" name="username" id="username" required placeholder=" " autocomplete="off">
            <label for="username">Login</label>
        </div>
        <div class="input-group">
            <input type="password" name="password" id="password" required placeholder=" " autocomplete="off">
            <label for="password">Password</label>
        </div>
        <button id="entry-btn" type="submit" class="btn">Sign in</button>
        <button type="button" class="btn"><a class="link" th:href="@{/user/getSignupForm}">Sign up</a></button>
    </form>
</div>
</body>

</html>