<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home</title>
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" th:href="@{/css/main-page.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

</head>
<body>
    <div class="navbar" th:include="navbar.html"></div>
    <main>
        <section class="promo">
            <div class="promo-left">
                <h3>THE FINAL SHAPE IS ALREADY HERE!</h3>
                <p>
                    Be the first who will defeat the main boss of the Destiny Universe!<br>
                    Buy <strong>Salvation’s Edge Day One</strong> and get a chance to obtain new Exotic Rifle!<br>
                    Get ready Guardians!
                </p>
            </div>
            <div class="promo-center">
                <img src="http://localhost:9000/orders-images/8c8fa318-627b-41d3-884c-c43b677c05f2-kaktus_neon_temnyj_163081_3840x2160.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=minio%2F20241205%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20241205T183637Z&X-Amz-Expires=604800&X-Amz-SignedHeaders=host&X-Amz-Signature=1d17870300ba93fc0fff0e33f272b77bc453d0e0eb9ecd6861a813d5bfb7e6b1" alt="The Final Shape Promo">
            </div>
            <div class="promo-right">
                <h3>BUY MORE - PAY LESS!</h3>
                <p>
                    The more you work with us, the more discounts you get!<br>
                    After spending <strong>$500</strong>, you get a <strong>5% discount forever!</strong><br>
                    More information in your personal account!
                </p>
            </div>
        </section>
    </main>

    <div class="footer" th:include="footer.html"></div>

    <script th:src="@{/js/main-page.js}"></script>

</body>
</html>
